@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--attv-black: #212120;
	--attv-yellow: #EDD100;

	--container-width: 75rem;
}

body {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}

p, ol, ul {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
