@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;

	--attv-black: #212120;
	--attv-yellow: #EDD100;

	--container-width: 75rem;
}
